<div class="mainscreen">
   <!-- <img src="https://image.freepik.com/free-vector/purple-background-with-neon-frame_52683-34124.jpg"  class="bgimg " alt="">-->
   <div class="card">

       <div class="rightside">
           <form method="POST" enctype="multipart/form-data" action="<?php echo site_url('pembayaran/send_payment'); ?>">

               <h3 style="font-size: 15px;font-weight:700;">CheckOut</h3>
               <div class="col-sm-10">
                   <input class="form-control" type="hidden" name="id_customer" value="<?php echo $this->session->userdata('id_customer'); ?>" required>
                   <input class="form-control" type="hidden" placeholder="Nama Lengkap" name="nm_customer" value="<?php echo $this->session->userdata('nama_lengkap'); ?>" required>
               </div>

               <input type="text" hidden value="<?= $pay_code; ?>">

               <p style="font-size: 12px;">ID Pemesanan</p>
               <input type="text" class="inputbox" name="id_pemesanan" id="id_pemesanan" value="<?php echo $id_pemesanan; ?>" required autocomplete="off" readonly />
               <div class="expcvv">

                   <p style="font-size: 12px;" class="expcvv_text">Produk</p>
                   <input type="text" class="inputbox" name="nama_produk" value="<?php echo $nama_produk; ?>" readonly />


               </div>

               <div style="font-size: 12px;" class="expcvv">

                   <p style="font-size: 12px;" class="expcvv_text">Banyak</p>
                   <input type="text" name="quantity" value="<?php echo $quantity; ?>" class="inputbox" readonly />
                   <p style="font-size: 12px;" class="expcvv_text2">Harga</p>
                   <input type="text" class="inputbox" name="total_harga" value="<?php echo $total_harga; ?>" readonly />

               </div>

               <p style="font-size: 12px;" class="expcvv_text">Total yang harus dibayar</p>
               <input type="text" class="inputbox" name="grand_total" value="<?php echo $grand_total; ?>" readonly />


               <select style="margin-top: 10px;" class="inputbox" name="bank" id="card_type" required>
                   <option value="">--Pilih Bank--</option>
                   <option style="font-weight:bold ;" value="Bank Mandiri">Bank Mandiri</option>
                   <option style="font-weight:bold ;" value="Bank BCA">Bank BCA</option>
                   <option style="font-weight:bold ;" value="Bank BRI">Bank BRI</option>
                   <option style="font-weight:bold ;" value="Bank BNI">Bank BNI</option>
               </select>

               <div style="display: flex;gap:8px;" class="form-check">
                   <div style="font-size: 12px;" class="content-flx">
                       <input class="form-check-input" type="radio" name="payment_method" id="gridRadios2" value="Transfer Bank">
                       <label style="font-weight: bold;" class="form-check-label">
                           Transfer Bank
                       </label>
                       <p style="color:gray ;font-size:12px;">BCA Rek. 539-000-0000 a.n Cipta Interior</p>

                   </div>

                   <div style="font-size: 12px;" class="content-flx">
                       <input class="form-check-input" type="radio" name="payment_method" id="gridRadios2" value="Lainnya">
                       <label style="font-weight: bold;" class="form-check-label">
                           Lainnya
                       </label>
                   </div>
               </div>

               <input type="text" name="status_order" hidden value="0" id="">

               <div>
                   <p2 class="uplodbukti">Upload Bukti Bayar (Wajib)</p2>
                   <input class="forminput1" type="file" placeholder="Upload Bukti (Opsional)" name="filefoto">
               </div>

               <div>
                   <input style="height: 80px;" placeholder="isi deskripsi (opsional)" name="deskripsi">
               </div>


               <p></p>
               <button data-modal-toggle="popup-modal" type="button" class="button">
                   <?php echo "Rp " . number_format($grand_total); ?>
                   Bayar</button>

               <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
                   <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                       <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                           <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal">
                               <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                   <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                               </svg>
                           </button>
                           <div class="p-6 text-center">
                               <svg class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                               </svg>
                               <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Apa kamu ingin
                                   melakukan pembayaran ?</h3>
                               <button data-modal-toggle="popup-modal" type="submit" class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                   Bayar Sekarang
                               </button>
                               <button data-modal-toggle="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">batal</button>
                           </div>
                       </div>
                   </div>
               </div>

           </form>
       </div>
   </div>
</div>